





hr{
    border: 2px dashed #558855;
    margin-left: 10%;
    margin-right: 10%;
  }

body{
  background-color: #f6fff8
}
#center-text{
  text-align: center;
}

#heading{
  text-align: center;
  font-size: 36px;
}

#subheading{
  text-align: center;
  font-size: 26px;
  color: #558855
}

#hobbit{
  float: left;
  margin-left: 25%;
}

img{
  margin: 25px;
  min-width: 125px;
}

p{
  margin: 24px;
  text-align: left;
  font-family: monospace;
  font-size: 16px;
  color: #336633
}

a{
  color: #30aa30;
  text-emphasis-color: #40ac70
}
