
body{
  background-color: #f0fdf2
}

#heading{
  font-size: 36px;
  color: #336633
}

#subheading{
  font-size: 26px;
  color: #558855
}

p{
  text-align: center;
  font-family: monospace;
  font-size: 16px;
  color: #336633
}
